$backgroundImage:url("/background/leaves1.jpg");
$color:aqua;
$color3:yellow;
$text-shadow: 0 0 5px $color,0 0 20px $color;
$text-shadow3: 0 0 5px $color3, 0 0 15px $color3, 0 0 20px $color3;

.MainContainer2{
    background-image: $backgroundImage;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    .Article{
        padding-top: 5vh;
        display: flex;
        text-align: justify;
        color:aliceblue;
        text-shadow: $text-shadow;
        font-size:3.4vh;
    }
    .headerSkillTag{
        color:aliceblue;
        text-shadow: $text-shadow3;
        font-size:3rem;
        & p{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .skillContainer{
        display:flex;
        flex-direction: row;
        gap:3rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media screen and (max-width:800px),(max-width:1000px){
    .MainContainer2{
        height: auto;
        .Article{
            font-size: 2.5vh;
        }
        .headerSkillTag{
            font-size: 2rem;
        }
        .skillContainer{
            gap:1rem;
            justify-content: space-evenly;
        }
    }
}
@media screen and (max-width:500px){
    .MainContainer2{
        .Article{
            font-size: 1.5vh;
        }
        .skillContainer{
            gap:1rem;
            justify-content: space-evenly;
        }
    }
    
}
