$color:aqua;
$shadow: 0 0 4px $color;

.MainUnit{
    width:10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    border:1px solid white;
    box-shadow: $shadow;
    justify-content: center;
    align-items: center;
    & img{
        width:5rem;
        height: 5rem;
    }
    & p{
        color:aliceblue;
        padding-top: 5px;
        margin:0;
        text-shadow: $shadow;
    }
}
@media screen and (max-width:600px){
    .MainUnit{
        width:7rem;
        height: 6rem;
        & img{
            width:3rem;
            height: 3rem;
        }
        & p{
            font-size: 0.8rem;
        }
    }

}